%h1 User Activity

%section.post_update
  = render partial: 'form'

.user_activity_head
  .field Username
  .field Status
  .field Description
- UserPresenter.present_each(@users) do |user|
  .user_activity
    .field.username= user.username
    .field.status= user.current_status
    .field.description= user.status_description