

.post_update {
  padding: 10px;
}

.user_activity{
  display: table-row;
}
.user_activity.head {
  font-weight: bold;
}
  .user_activity .field{
    display: table-cell;
    padding: 5px;
  }

  .user_activity .field.description {
    width: 200px;
  }

.new_status_update_service {
  display: table-row;
}
.new_status_update_service input{
  padding: 8px;
}
.new_status_update_service input[type=text]{
  width: 300px;
  padding: 8px;
  display: table-cell;
}
.new_status_update_service input[type=submit]{
  width: 95px;
  margin-left: 10px;
  font-size: 18px;
 }
.new_status_update_service span.info {
  text-align: left;
  display: block;
  font-size: 13px;
  padding-top: 5px;
}
